<main>
  <div class="chat-side contacts-list">
    <p class="profile-link"><a href="./profile">Профиль ></a></p>
    <form class="search-form form__round-wrapper">
      <div class="form__round-wrapper-row">
        {{{Input type="text" id="search-contacts" placeholder="Поиск"}}}
      </div>
    </form>
    <div class="contacts">
      {{#each contacts}}
        {{{Contact
          active=active
          avatarPath=avatarPath
          displayName=displayName
          lastMsgText=lastMsgText
          lastMsgDate=lastMsgDate
          msgCounter=msgCounter
        }}}
        <div class="delimiter__line"></div>
      {{/each}}
    </div>
  </div>
  <div class="chat-side feed">
    {{#each chatHeader}}
      {{{ChatHeader avatarPath=avatarPath displayName=displayName}}}
    {{/each}}
    <div class="messages">
      {{#if days}}
        {{#each days}}
          <div class="correspondence-daily">
            <div class="correspondence-date">{{date}}</div>
            {{#each messages}}
              {{{Message
                time=time
                text=text
                outgoing=outgoing
                delivered=delivered
                readed=readed
                imgPath=imgPath
              }}}
            {{/each}}
          </div>
        {{/each}}
      {{else}}
        <p class="messages__empty">Начните беседу!</p>
      {{/if}}
    </div>
    {{{SendMessageForm sendMessageForm="true"}}}
  </div>
</main>